body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #000000
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    background-color: #2525a8;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #1212ff;
}

#hasil {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}

.error {
    color: red;
}

.success {
    color: maroon;
}
